production/Edit Session V1.json
{
  "name": "Edit Session V1",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "id": "3292d0b0-8283-4d3b-81d9-e6e0c1a46064",
      "name": "Cron (every 1 min)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -544,
        208
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EB-MUC7mL69LVyrxYFvoBwZz83wqUqr29sn9_isOsd0",
          "mode": "list",
          "cachedResultName": "n8n automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EB-MUC7mL69LVyrxYFvoBwZz83wqUqr29sn9_isOsd0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 473762709,
          "mode": "list",
          "cachedResultName": "edit_sessions"
        },
        "options": {}
      },
      "id": "9b1c4df3-ae24-41ff-8c10-50429cfb6038",
      "name": "Get Waiting Edit Sessions",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        208
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fY1Ze3nK84njdSmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Keep only waiting_edit sessions where expires_at is in the past\nconst now = Date.now();\nif (($json.mode || '') !== 'waiting_edit') return [];\nconst exp = Date.parse($json.expires_at || '');\nif (!exp || now < exp) return []; // not expired or missing\nreturn [{ json: { ...$json, now_iso: new Date().toISOString() } }];"
      },
      "id": "7159d17c-b2df-466c-a778-a81b8d3ab075",
      "name": "Filter Expired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        208
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Filter Expired\"].json.chat_id }}",
        "text": "⏱️ Your 5-minute edit session has ended.\nEdit mode closed.\nNew emails are coming in again.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "6f475153-f2f8-473d-b66c-bba330503662",
      "name": "Send Done (Timeout)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        784,
        208
      ],
      "webhookId": "a941da07-93c8-43af-82df-a99c9ffcb0b8",
      "credentials": {
        "telegramApi": {
          "id": "NOr4RTc2yK3WqTT7",
          "name": "Action Needed"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EB-MUC7mL69LVyrxYFvoBwZz83wqUqr29sn9_isOsd0",
          "mode": "list",
          "cachedResultName": "n8n automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EB-MUC7mL69LVyrxYFvoBwZz83wqUqr29sn9_isOsd0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 473762709,
          "mode": "list",
          "cachedResultName": "edit_sessions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "={{ $json.chat_id }}",
            "user_id": "={{ $json.user_id }}",
            "mode": "Consumed",
            "expires_at": "={{ $json.now_iso }}"
          },
          "matchingColumns": [
            "chat_id",
            "user_id"
          ],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pending_draft_id",
              "displayName": "pending_draft_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "field",
              "displayName": "field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pending_transcript",
              "displayName": "pending_transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confirm_msg_id",
              "displayName": "confirm_msg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "voice_file_id",
              "displayName": "voice_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pending_questions",
              "displayName": "pending_questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pending_answers",
              "displayName": "pending_answers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e4de12ea-bc68-4136-b0ee-46a335f47149",
      "name": "Consume Session (Timeout)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fY1Ze3nK84njdSmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## EDIT SESSION TIMEOUT CHECK\n- TRIGGER = EVERY 1 MIN\n- LOAD = edit_sessions SHEET\n- GET ROWS = WAITING EDIT SESSIONS\n- PASS DATA TO FILTER STEP\n",
        "height": 368,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        16
      ],
      "typeVersion": 1,
      "id": "7e554b85-2b9a-46d6-8916-8d9eb16516aa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## FILTER EXPIRED SESSIONS\n- KEEP ONLY mode = waiting_edit\n- CHECK = expires_at <= NOW\n- DROP = NOT EXPIRED / MISSING expires_at\n- ADD = now_iso (CURRENT TIME)\n",
        "height": 352,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "223d35e5-d3ea-4c4f-9e2d-689e211876f0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## CLOSE SESSION + MESSAGE USER\n- UPDATE SHEET: mode = Consumed\n- SET = expires_at = now_iso\n- MATCH = chat_id + user_id\n- SEND TELEGRAM: EDIT SESSION ENDED\n- RESULT = NEW EMAILS RESUME\n",
        "height": 384,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        0
      ],
      "typeVersion": 1,
      "id": "1e361881-2213-4f4d-b88a-113c6dc18a92",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron (every 1 min)": {
      "main": [
        [
          {
            "node": "Get Waiting Edit Sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Waiting Edit Sessions": {
      "main": [
        [
          {
            "node": "Filter Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Expired": {
      "main": [
        [
          {
            "node": "Consume Session (Timeout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consume Session (Timeout)": {
      "main": [
        [
          {
            "node": "Send Done (Timeout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10cb6dbb-fd2f-46a7-99e5-9bacd647f0a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2319bcf64035e12fa4b23aa88003edd572c9ac2ee40ffdd07560e871f1375d3"
  },
  "id": "U9860K2dL0boPuqZ",
  "tags": []
}