production/Edit session Final fix Test.json
{
  "name": "Edit session Final fix Test",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "id": "17535451-9333-4f9e-be41-f1d503b8c401",
      "name": "Cron (every 1 min)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "vyo0txtwp3Qx7qYo",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "mode",
              "keyValue": "waiting_edit"
            }
          ]
        }
      },
      "id": "9b8b764d-3b8d-4cf3-8c90-e54075a71271",
      "name": "Get Waiting Edit Sessions",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Keep only sessions where expires_at is in the past\nconst now = Date.now();\nconst exp = Date.parse($json.expires_at || '');\nif (!exp || now < exp) return []; // not expired or missing\nreturn [{ json: { ...$json, now_iso: new Date().toISOString() } }];"
      },
      "id": "5be8eeff-ce83-4817-8d41-c41d5fdb6765",
      "name": "Filter Expired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Filter Expired\"].json.chat_id }}",
        "text": "⏱️ Your 5-minute edit session has ended.\nEdit mode closed.\nNew emails are coming in again.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3b605a9d-5c71-4f51-927f-243fb5652712",
      "name": "Send Done (Timeout)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "webhookId": "0bfdbd12-18ae-46c6-ab10-1e1e7caf28e4"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "vyo0txtwp3Qx7qYo",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "keyValue": "={{ $json.chat_id }}"
            },
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mode": "Consumed",
            "expires_at": "={{ $json.now_iso }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pending_draft_id",
              "displayName": "pending_draft_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "field",
              "displayName": "field",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "expires_at",
              "displayName": "expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pending_transcript",
              "displayName": "pending_transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "confirm_msg_id",
              "displayName": "confirm_msg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "voice_file_id",
              "displayName": "voice_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e02cfe5c-e517-4987-827c-97c21015ffb0",
      "name": "Consume Session (Timeout)",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        672,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Cron (every 1 min)": {
      "main": [
        [
          {
            "node": "Get Waiting Edit Sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Waiting Edit Sessions": {
      "main": [
        [
          {
            "node": "Filter Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Expired": {
      "main": [
        [
          {
            "node": "Consume Session (Timeout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consume Session (Timeout)": {
      "main": [
        [
          {
            "node": "Send Done (Timeout)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1fab54fe-28cc-421b-93cf-057c5811def9",
  "meta": {
    "instanceId": "c2319bcf64035e12fa4b23aa88003edd572c9ac2ee40ffdd07560e871f1375d3"
  },
  "id": "2cqeImi3xKamCant",
  "tags": []
}