production/Fetch Old Email Tem.json
{
  "name": "Fetch Old Email Tem",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -3872,
        464
      ],
      "id": "2921fea7-deb3-413a-89ea-d3723485301d",
      "name": "List Unread (batch)",
      "webhookId": "1a337f53-4b6d-42f8-ba1c-f033572a6d4f",
      "credentials": {
        "gmailOAuth2": {
          "id": "N8qlQv0i6oZyrA4p",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003772493573",
        "text": "={{\n(() => {\n  const nodeJson = (name) => {\n    try {\n      return ($node?.[name]?.json) || {};\n    } catch (e) {\n      return {};\n    }\n  };\n\n  const firstLine = (s) => String(s ?? '').split(/\\r?\\n/)[0];\n\n  const escapeHtml = (s) =>\n    String(s ?? '')\n      .replace(/&/g, '&amp;')\n      .replace(/</g, '&lt;')\n      .replace(/>/g, '&gt;');\n\n  // ---------- CATEGORY ----------\n  const cls = nodeJson('Classifier Agent');\n  const rawCat =\n    $json.category ??\n    cls.category ??\n    cls.output ??\n    'FYI';\n\n  const cleanedCat = firstLine(rawCat)\n    .replace(/\\*\\*/g, '')\n    .replace(/`/g, '')\n    .replace(/^category\\s*:\\s*/i, '')\n    .trim();\n\n  let norm = cleanedCat.toUpperCase().replace(/[\\s_]+/g, '_'); // ACTION_NEEDED\n  if (norm === 'ACTION') norm = 'ACTION_NEEDED';              // just in case\n  if (!['IGNORE', 'FYI', 'ACTION_NEEDED'].includes(norm)) norm = 'FYI';\n\n  const displayCat = norm.replace(/_/g, ' '); // ACTION NEEDED\n\n  // ---------- FROM / SUBJECT ----------\n  const listUnread = nodeJson('List Unread (batch)');\n\n  const fromRaw =\n    listUnread.From ??\n    listUnread.from ??\n    $json.from ??\n    $json.From ??\n    'Unknown';\n\n  // remove angle brackets that break Telegram when parse mode is not truly none\n  const from = String(fromRaw).replace(/[<>]/g, '');\n\n  const subject =\n    listUnread.Subject ??\n    listUnread.subject ??\n    $json.subject ??\n    $json.Subject ??\n    'No subject';\n\n  // ---------- SUMMARY ----------\n  const sum = nodeJson('Summarization Agent');\n  const summary =\n    sum.output ??\n    sum.summary ??\n    $json.summary ??\n    '';\n\n  // ---------- BODY (LATEST ONLY) ----------\n  const getMsg = nodeJson('Get a message');\n  const rawBody =\n    getMsg.textPlain ??\n    getMsg.textAsPlain ??\n    getMsg.text ??\n    $json.email_text ??\n    '';\n\n  const decodeEntities = (s) =>\n    String(s ?? '')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&amp;/g, '&')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g, \"'\");\n\n  const stripQuoted = (s) => {\n    let text = decodeEntities(String(s || '')).trim();\n\n    // Fix \"exceptionOn Mon, ...\" -> add newline before \"On Mon,\"\n    text = text.replace(\n      /([^\\r\\n])On\\s(?=(Mon|Tue|Wed|Thu|Fri|Sat|Sun),)/g,\n      '$1\\nOn '\n    );\n\n    const cutPatterns = [\n      /(?:^|\\r?\\n)\\s*On\\s.+?wrote:\\s*/is,                 // Gmail quote marker\n      /(?:^|\\r?\\n)\\s*-----Original Message-----\\s*/is,    // Outlook\n      /(?:^|\\r?\\n)\\s*From:\\s.+\\r?\\n\\s*Sent:\\s/is,         // Outlook header\n      /(?:^|\\r?\\n)\\s*-{2,}\\s*Forwarded message\\s*-{2,}\\s*/is\n    ];\n\n    let out = text;\n    for (const re of cutPatterns) {\n      const idx = out.search(re);\n      if (idx !== -1) {\n        out = out.slice(0, idx).trim();\n        break;\n      }\n    }\n\n    // Remove quoted lines starting with \">\"\n    out = out\n      .split(/\\r?\\n/)\n      .filter(line => !/^\\s*>/.test(line))\n      .join('\\n')\n      .trim();\n\n    return out;\n  };\n\n  const latestMessageOnly = stripQuoted(rawBody);\n\n  // ---------- BUILD MESSAGE ----------\n  let msg =\n`Category: ${displayCat}\nFrom: ${from}\nSubject: ${subject}\n\nSummary: ${summary}\n\nMessage:\n${latestMessageOnly}`;\n\n  if (norm === 'ACTION_NEEDED') {\n    const draft = nodeJson('Drafting Email Agent').output ?? '';\n    if (String(draft).trim()) {\n      msg += `\n\nDraft email:\n${draft}`;\n    }\n  }\n\n  // Telegram hard limit is 4096 chars. Keep buffer.\n  const safe = escapeHtml(msg).slice(0, 3900);\n\n  return safe;\n})()\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Approve",
                    "additionalFields": {
                      "callback_data": "={{ 'reply:' + $('List Unread (batch)').item.json.id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "✏️ Edit",
                    "additionalFields": {
                      "callback_data": "={{ 'edit:' + $('List Unread (batch)').item.json.id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🧾 History",
                    "additionalFields": {
                      "callback_data": "={{ 'history:' + $('List Unread (batch)').item.json.id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🎨 Style",
                    "additionalFields": {
                      "callback_data": "style_menu"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        448
      ],
      "id": "cab93744-8073-415b-93d3-e05177d431df",
      "name": "Send a text message",
      "webhookId": "0cba5d21-e9b6-4ff8-a483-819c44e5aa5e",
      "credentials": {
        "telegramApi": {
          "id": "NOr4RTc2yK3WqTT7",
          "name": "Action Needed"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "p7tivZsMaHTep84i",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "gmail_message_id": "={{ $('List Unread (batch)').item.json.id }}",
            "thread_id": "={{ $('List Unread (batch)').item.json.threadId }}",
            "from": "={{ $('List Unread (batch)').item.json.From }}",
            "subject": "={{ $('List Unread (batch)').item.json.Subject }}",
            "draft_body": "={{ $('Drafting Email Agent').item.json.output }}",
            "telegram_chat_id": "={{ $json.result.chat.id }}",
            "telegram_msg_id": "={{ $json.result.message_id }}",
            "status": "={{\"waiting_approve\"}}",
            "telegram_message_ids": "={{ $json.result.message_id }}",
            "categoy": "={{ $('Classifier Agent').item.json.output }}",
            "gmail_draft_id": "={{ $('Create Gmail Draft').item.json.id || '' }}",
            "gmail_draft_message_id": "={{ $('Create Gmail Draft').item.json.message?.id || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "gmail_message_id",
              "displayName": "gmail_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "draft_body",
              "displayName": "draft_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "telegram_msg_id",
              "displayName": "telegram_msg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "telegram_message_ids",
              "displayName": "telegram_message_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "categoy",
              "displayName": "categoy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "old_email",
              "displayName": "old_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "gmail_draft_id",
              "displayName": "gmail_draft_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "gmail_draft_message_id",
              "displayName": "gmail_draft_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        544,
        448
      ],
      "id": "818bda33-1857-461d-aa8b-d887e4951e93",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -3424,
        192
      ],
      "id": "2c207378-12dc-4ecf-a8dc-c1b0c7571b3d",
      "name": "Get a message",
      "webhookId": "7c259973-6646-4ebc-b564-1ef774b496d8",
      "credentials": {
        "gmailOAuth2": {
          "id": "N8qlQv0i6oZyrA4p",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the email content: {{ $('Email Context').item.json.email_text }}\n\nThe Attachment (if there is one): {{ $('Email Context').item.json.attachment_summary }}",
        "options": {
          "systemMessage": "You are an email classification assistant for automation workflows.\n\nAbsolute override — task platforms:\n\nAny email originating from task or project management systems\n(Asana, Jira, Trello, ClickUp, Linear, GitHub notifications),\nincluding but not limited to:\n- overdue task digests\n- deletion or undo notifications\n- restore links or time windows\n- “respond now” or “action required” wording\n- status updates, comments, mentions, assignments\n\nMUST ALWAYS be classified as FYI.\n\nThis is true even if:\n- tasks are overdue\n- a project/template was deleted\n- there is a limited undo period\n- the language sounds urgent\n\nEXCEPTION:\nOnly classify as ACTION NEEDED if the email explicitly requires\na reply BY EMAIL to a human sender (not no-reply),\nor indicates external security, payment, or account compromise.\n\nClassify the message into exactly one label:\nIGNORE\nFYI\nACTION NEEDED\n\nMeanings:\n\nIGNORE: spam, promos, newsletters, cold outreach, social noise, low-value.\n\nFYI: useful info or notifications that do not require replying by email (status updates, automated notifications, meeting invites/updates, task updates).\n\nACTION NEEDED: requires a direct email reply/confirmation/approval, or time-sensitive risk (OTP, security, payment failed, invoice due/overdue, account access issues, urgent scheduling that requires confirmation).\n\nCritical instruction:\n\nWhen classifying, IGNORE any text that is part of automation output such as “Category: …”, “Summary: …”, and especially “Draft email: …”. Do NOT let “Draft email” influence classification.\n\nPriority rules (apply in this order):\n\nAsana/task-platform override (almost always FYI)\n\nIf the sender is from Asana (asana.com, no-reply@asana.com\n) OR the email content is an automated task/comment/mention/attachment notification from task platforms (Asana, Jira, Trello, ClickUp, Linear, GitHub notifications):\n-> Output FYI\n\nEven if it says “assigned you a task”, “mentioned you”, “left a comment”, “please review”, “answer questions”, “view task”, “attachment added”.\n\nEXCEPT output ACTION NEEDED only if the email explicitly requires an email reply to a person (not in-app), OR includes a hard deadline with consequence, OR indicates security/payment/account risk.\n\nCalendar invite/meeting override (FYI by default)\n\nIf the email is a calendar invitation, update, or reminder (Google Calendar / ICS style content, “Invitation from Google Calendar”, “This event has been updated”, meeting links, phone PINs):\n-> Output FYI\n\nEXCEPT output ACTION NEEDED only if it explicitly asks you to RSVP/confirm by a specific deadline, or says attendance is required, or there is a strong consequence for not responding.\n\nNo-reply informational rule\n\nIf the sender is a no-reply address AND the message is informational/notification:\n-> Output FYI\n\nEXCEPT ACTION NEEDED only for OTP/security/payment failure/invoice due/account lock or other urgent risk.\n\nAction-needed rule (use only when clearly true)\nOutput ACTION NEEDED only if at least one is true:\n\nThe email explicitly asks you to reply by email or confirm/approve via email\n\nA client/customer is waiting on your email response\n\nThere is a deadline you must meet and the action is required now\n\nSecurity/authentication risk (OTP, suspicious login, password reset, MFA, account lock)\n\nFinancial risk (payment failed, invoice due/overdue, service suspension)\n\nA scheduling request that requires confirmation (not optional) or a decision\n\nFYI default\n\nIf it is not spam and does not meet ACTION NEEDED conditions:\n-> Output FYI\n\nIgnore rule\n\nOutput IGNORE if spam/promotional/newsletter/cold outreach/low-value noise.\n\nOutput rules (must follow exactly):\n\nOutput must be EXACTLY one of these three strings:\nIGNORE\nFYI\nACTION NEEDED\n\nDo not add any other words.\n\nDo not use any formatting characters.\n\nDo not add punctuation.\n\nDo not add newlines or extra spaces.\n\nIf unsure between FYI and ACTION NEEDED, choose FYI."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1856,
        192
      ],
      "id": "800f3a1a-3503-4c91-89e1-95e63d11ee40",
      "name": "Classifier Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here's the email content:\n{{ $('Email Context').item.json.email_text }}\nAttachment summary:\n{{ $('Email Context').item.json.attachment_summary || '' }}\n",
        "options": {
          "systemMessage": "You are an email summarization assistant for automation workflows.\n\nThe user message will usually contain:\n\nHere's the email content: <email body>\nAttachment summary: <optional attachment summary>\n\nRules to choose what to summarize:\n1) Extract EMAIL_BODY = the text after \"Here's the email content:\" (trim whitespace).\n2) Extract ATTACHMENTS = the text after \"Attachment summary:\" (trim whitespace).\n3) If EMAIL_BODY has any non-whitespace characters, you MUST summarize EMAIL_BODY (even if ATTACHMENTS is empty).\n4) If EMAIL_BODY is empty but ATTACHMENTS is not, summarize ATTACHMENTS.\n5) If both are empty, respond exactly: No email content provided.\n\nOutput rules:\n- Return only the summary text (no labels, prefixes, bullets, headings).\n- 1–2 lines total.\n- Include: purpose, required action, deadlines, key IDs, important amounts, and latest status if it’s a thread.\n- Do not invent details.\n\nPrivacy/redaction:\n- API keys/tokens: first 4 chars + ****\n- Card numbers: last 4 only\n- Passwords/OTPs: ****\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1056,
        192
      ],
      "id": "fc602f85-7729-40a5-bb34-e043924056df",
      "name": "Summarization Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Writing preferences (follow strictly): {{ $json.prefs_text || '' }}\n\nHere's the Email Content:  {{\n  ($('Email Context').first().json.email_text || '')\n    .replace(/https?:\\/\\/\\S+/g, '')       // remove URLs\n    .replace(/\\[[^\\]]*\\]/g, '')           // remove [ ... ] blocks\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 6000)\n}}\nHere's the Attachment (If there is one): {{ $('Email Context').first().json.attachment_summary }}",
        "options": {
          "systemMessage": "You are an email reply drafting assistant for automation workflows.\n\nInput format:\n\"Here's the email content: <full email text>\"\n\nYour job:\nWrite a ready-to-send reply email draft to the sender.\n\nCore rules:\n- Output only the email draft body (no labels, no analysis, no bullet headers like “Subject:” unless asked).\n- Keep it short and clear (3–10 sentences). Use paragraphs.\n- Use a professional, friendly tone. Match the sender’s tone (formal vs casual).\n- Directly address the sender’s request, questions, or next steps.\n- If the email asks for approval/confirmation, clearly state approval or confirmation.\n- If the email needs missing info from the user, insert placeholders like [NAME], [DATE], [AMOUNT], [LINK], [ATTACHMENT], [PHONE], and ask concise questions.\n- Never invent facts (dates, numbers, names, promises). If unsure, ask or use placeholders.\n- If the content is empty or not an email, respond exactly: \"No email content provided.\"\n\nPrivacy and safety:\n- Do not include secrets. If the email contains API keys/tokens, show only first 4 characters + \"****\".\n- If it contains card numbers, show only last 4 digits.\n- Mask passwords/OTPs as \"****\" even if present.\n- Do not click links or claim you verified anything externally.\n\nSpecial cases:\n- Scheduling: propose 2–3 time options and ask them to confirm; include meeting link placeholder if needed.\n- Support/ticket: acknowledge, restate issue, provide requested details (or placeholders), and ask for ETA if needed.\n- Billing/invoice: confirm payment plan/status (or ask), reference invoice/order IDs, and ask for receipt if relevant.\n- Promotional/cold outreach: politely decline or ask for more details depending on the email’s intent.\n\nOutput requirements:\n- Output ONLY the email body.\n- Start with a greeting.\n- End with a polite closing and a signature placeholder:\n  \"Best regards,\n  [Your Name]\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -256,
        448
      ],
      "id": "ea21542f-e155-452b-8cf9-2621cf85685f",
      "name": "Drafting Email Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d74d43fa-4565-445e-b4e9-b898ed513b6c",
              "leftValue": "={{ $json.label }}",
              "rightValue": "IGNORE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1280,
        192
      ],
      "id": "c4bdc9f5-3de9-42ce-9960-c813287eaac1",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "px6maEvxTSmogsal",
          "mode": "list",
          "cachedResultName": "drafts",
          "cachedResultUrl": "/projects/g57vV100JYUsLLiY/datatables/px6maEvxTSmogsal"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "draft_id": "={{ $json.gmail_message_id }}",
            "body": "={{ $json.draft_body }}",
            "subject": "={{ $json.subject }}",
            "telegram_message_id": "={{ $json.telegram_msg_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "draft_id",
              "displayName": "draft_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "telegram_message_id",
              "displayName": "telegram_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "revision",
              "displayName": "revision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        768,
        448
      ],
      "id": "ec46bb9e-71a7-4a92-a427-3871b296209e",
      "name": "Insert row1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ (() => { \n  const s = $('List Unread (batch)').item.json.Subject || $json.subject || ''; \n  return (/^\\s*re:/i.test(s) ? s : 'Re: ' + s); \n})() }}",
        "message": "={{ $('Drafting Email Agent').item.json.output || '' }}",
        "options": {
          "threadId": "={{ $('List Unread (batch)').item.json.threadId || '' }}",
          "sendTo": "={{ (( $('List Unread (batch)').item.json.From || '' ).match(/<([^>]+)>/)?.[1] || $('List Unread (batch)').item.json.From || '').trim() }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        96,
        448
      ],
      "id": "74d7d65c-8911-47ad-a54a-d6d7e2bab30d",
      "name": "Create Gmail Draft",
      "webhookId": "5dc8eca5-6f00-4feb-ab5d-0c74d826cdaa",
      "credentials": {
        "gmailOAuth2": {
          "id": "N8qlQv0i6oZyrA4p",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eedd3b5f-31da-43a5-9e9a-9cae8c3d5f0d",
              "leftValue": "={{ Object.keys($binary || {}).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            },
            {
              "id": "8d8324a2-e0fd-4b9e-9a7b-130242bd306d",
              "leftValue": "={{ $json.hasPdf }}",
              "rightValue": 1,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2976,
        192
      ],
      "id": "e2697740-b6a4-4fb7-8128-973e493c12e3",
      "name": "Has Attachments"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst maxFiles = 3;\nconst maxBytes = 15 * 1024 * 1024; // 15MB per file\n\nfor (let itemIndex = 0; itemIndex < items.length; itemIndex++) {\n  const item = items[itemIndex];\n  const bin = item.binary || {};\n  const keys = Object.keys(bin).filter(k => k.startsWith('attachment_'));\n\n  const content = [{\n    type: \"input_text\",\n    text: [\n      \"Summarize the email attachment(s) for the email summary.\",\n      \"Give a compact, factual summary (2–5 bullet points total).\",\n      \"Include key parties, dates, amounts, and required actions if present.\",\n      \"If the file is unreadable, say so.\"\n    ].join(\"\\n\")\n  }];\n\n  const picked = [];\n  const skipped = [];\n\n  for (const key of keys) {\n    const meta = bin[key] || {};\n    const mime = (meta.mimeType || \"\").toLowerCase();\n    const filename = meta.fileName || key;\n\n    // ✅ get real bytes even in filesystem-v2 mode\n    const buffer = await this.helpers.getBinaryDataBuffer(itemIndex, key);\n\n    if (!buffer || !buffer.length) {\n      skipped.push(`${filename} (no data)`);\n      continue;\n    }\n\n    if (buffer.length > maxBytes) {\n      skipped.push(`${filename} (too large ${buffer.length} bytes)`);\n      continue;\n    }\n\n    const b64 = buffer.toString(\"base64\");\n\n    // PDF\n    if (mime === \"application/pdf\" || filename.toLowerCase().endsWith(\".pdf\")) {\n      const pdfMime = mime || \"application/pdf\";\n      content.push({\n        type: \"input_file\",\n        filename,\n        file_data: `data:${pdfMime};base64,${b64}`,\n      });\n      picked.push(filename);\n\n    // IMAGE\n    } else if (mime.startsWith(\"image/\")) {\n      content.push({\n        type: \"input_image\",\n        image_url: `data:${mime};base64,${b64}`,\n      });\n      picked.push(filename);\n\n    } else {\n      skipped.push(`${filename} (unsupported ${mime || \"type\"})`);\n    }\n\n    if (picked.length >= maxFiles) break;\n  }\n\n  item.json.openai_body = {\n    model: \"gpt-4o-mini\",\n    input: [{ role: \"user\", content }],\n  };\n\n  item.json._attachment_files_used = picked;\n  item.json._attachment_files_skipped = skipped;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2752,
        80
      ],
      "id": "5812c463-e342-42e3-99fb-849ea21ddca4",
      "name": "Build OpenAI Attachment Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction tryExtractOutputText(resp) {\n  if (typeof resp?.output_text === \"string\" && resp.output_text.trim()) return resp.output_text.trim();\n\n  // Fallback: walk output array\n  const out = resp?.output;\n  if (Array.isArray(out)) {\n    const chunks = [];\n    for (const o of out) {\n      // common shapes: {type:\"message\", content:[{type:\"output_text\", text:\"...\"}]}\n      if (o?.type === \"message\" && Array.isArray(o.content)) {\n        for (const c of o.content) {\n          if (c?.type === \"output_text\" && typeof c.text === \"string\") chunks.push(c.text);\n        }\n      }\n    }\n    const joined = chunks.join(\"\\n\").trim();\n    if (joined) return joined;\n  }\n  return \"\";\n}\n\nfor (const item of items) {\n  const summary = tryExtractOutputText(item.json);\n\n  // Keep only the attachment summary in json for easy merging\n  item.json = {\n    attachment_summary: summary,\n  };\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        80
      ],
      "id": "2286482d-48c3-4d1d-b9b5-4e1a724f8103",
      "name": "Extract Attachment Summary"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  item.json.attachment_summary = \"\";\n  item.json._attachment_files_used = [];\n  item.json._attachment_files_skipped = [];\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        448
      ],
      "id": "90ce2469-21f5-4d71-b90b-18eb2453c896",
      "name": "No Attachments"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openai_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2528,
        80
      ],
      "id": "85a1fbd5-86a1-452f-916a-c04e2607cd29",
      "name": "OpenAI - Summarize Attachments",
      "credentials": {
        "openAiApi": {
          "id": "58tGVV5vxWrUgphA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hasPdf = items.some(item => {\n  const bin = item.binary || {};\n  return Object.entries(bin).some(([k, b]) => {\n    const name = String(b?.fileName || '').toLowerCase();\n    const mime = String(b?.mimeType || '').toLowerCase();\n    return k.startsWith('attachment_') && (mime === 'application/pdf' || name.endsWith('.pdf'));\n  });\n});\n\nconst binaryKeys = items.flatMap(item => Object.keys(item.binary || {}));\n\n// keep the original binary so later nodes still have the attachments\nreturn [{\n  json: { hasPdf: !!hasPdf, binaryKeys },\n  binary: items[0].binary,\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3200,
        192
      ],
      "id": "fb07593c-7f84-41ca-a159-739f4f182fe4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// ---------- helpers ----------\nfunction decodeHtmlEntities(str = '') {\n  const map = {\n    '&nbsp;': ' ',\n    '&amp;': '&',\n    '&lt;': '<',\n    '&gt;': '>',\n    '&quot;': '\"',\n    '&#39;': \"'\",\n    '&apos;': \"'\",\n  };\n\n  str = str.replace(/&(nbsp|amp|lt|gt|quot|apos);|&#39;/g, (m) => map[m] ?? m);\n\n  str = str.replace(/&#(\\d+);/g, (_, d) => {\n    const code = Number(d);\n    return Number.isFinite(code) ? String.fromCharCode(code) : '';\n  });\n\n  str = str.replace(/&#x([0-9a-fA-F]+);/g, (_, h) => {\n    const code = parseInt(h, 16);\n    return Number.isFinite(code) ? String.fromCharCode(code) : '';\n  });\n\n  return str;\n}\n\nfunction htmlToText(html = '') {\n  let s = String(html);\n  s = s.replace(/<\\s*br\\s*\\/?>/gi, '\\n');\n  s = s.replace(/<\\/\\s*p\\s*>/gi, '\\n\\n');\n  s = s.replace(/<\\/\\s*div\\s*>/gi, '\\n');\n  s = s.replace(/<[^>]*>/g, '');\n  s = decodeHtmlEntities(s);\n  s = s.replace(/[\\u200B-\\u200D\\uFEFF]/g, '');\n  return s;\n}\n\n// ---------- pull msg from \"Get a message\" ----------\nlet msg = {};\ntry {\n  msg = $items('Get a message')?.[0]?.json ?? {};\n} catch {\n  msg = {};\n}\n\n// ---------- attachment summary (optional) ----------\nlet attFromNode = null;\ntry {\n  attFromNode = $items('Extract Attachment Summary')?.[0]?.json?.attachment_summary ?? null;\n} catch {\n  attFromNode = null;\n}\n\n// ---------- pick raw email body ----------\nconst raw =\n  msg.textPlain ||\n  msg.text ||\n  msg.body ||\n  msg.snippet ||\n  msg.textHtml ||\n  msg.html ||\n  msg.textAsHtml ||\n  '';\n\n// convert to clean text\nconst asText = /<[^>]+>/.test(raw) ? htmlToText(raw) : decodeHtmlEntities(String(raw));\n\nconst email_text = String(asText)\n  .replace(/(?:https?:\\/\\/|www\\.)\\S+/g, '') // remove links\n  .replace(/\\[[^\\]]*\\]/g, '')\n  .replace(/\\s+\\n/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .replace(/[ \\t]{2,}/g, ' ')\n  .trim()\n  .slice(0, 4000);\n\n// ---------- write output on every incoming item ----------\nfor (const item of items) {\n  item.json = {\n    ...item.json,\n    id: msg.id ?? item.json.id,\n    threadId: msg.threadId ?? item.json.threadId,\n    email_text,\n    attachment_summary: attFromNode ?? item.json.attachment_summary ?? '',\n  };\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        192
      ],
      "id": "e07eea08-a30e-490c-abd5-3c2d1fe9394a",
      "name": "Email Context"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Get a message').first().json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        160
      ],
      "id": "2080af23-230f-4e5b-8fd6-238b3f25d7de",
      "name": "Mark as read",
      "webhookId": "059b5dd3-8118-44b2-a9da-a1e1ade783a2",
      "credentials": {
        "gmailOAuth2": {
          "id": "N8qlQv0i6oZyrA4p",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3648,
        464
      ],
      "id": "05a9e817-8f52-40fd-ad7c-b2f3b9949dfc",
      "name": "Split in Batches (1)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1792,
        416
      ],
      "id": "ffc4ede1-eda4-4e93-a4d2-149c25fc42ef",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "58tGVV5vxWrUgphA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1216,
        448
      ],
      "id": "06c52201-d3e3-4eed-ba6c-9c9fc5d89982",
      "name": "Wait (1s throttle)",
      "webhookId": "72434db7-2316-437f-91ca-64656949ae87"
    },
    {
      "parameters": {
        "jsCode": "const raw = String($json.output ?? '').trim();\nconst cleaned = raw.replace(/\\*/g, '').trim();\n\nlet label = cleaned.toUpperCase();\nif (label === 'ACTION') label = 'ACTION NEEDED';\n\nif (!['IGNORE', 'FYI', 'ACTION NEEDED'].includes(label)) {\n  throw new Error(`Bad label from model: ${raw}`);\n}\n\nreturn [{ json: { ...$json, label } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        192
      ],
      "id": "013c55f9-6a78-41ea-8fb7-84ba4d173795",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "id": "feedf9f4-6b0b-4a2b-8dc9-f4d70dab0c16",
      "name": "Manual Trigger (Menu)",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -4544,
        992
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "id": "e43954f4-c883-4859-a59b-fed0c57daa09",
      "name": "Telegram Trigger (Menu Button)",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -4544,
        464
      ],
      "webhookId": "85af5fa3-485b-4ae1-a095-ecc1aa36badd",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "quiHcV1rHerfRUac",
          "name": "Fetch Email Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b64fbfe-b181-406f-841e-3124dd0ce7da",
              "leftValue": "={{ $json.callback_query?.data || '' }}",
              "rightValue": "fetch_unread",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1bad0dd1-16cf-4483-ad01-77561dda6817",
      "name": "IF Fetch Unread Button",
      "type": "n8n-nodes-base.if",
      "position": [
        -4320,
        464
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {
          "text": "Fetching unread emails…"
        }
      },
      "id": "59ccc350-a059-4bbd-9fa6-e6b3c5280ef3",
      "name": "Answer Callback Query (Fetch)",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -4096,
        464
      ],
      "webhookId": "daad022e-cd61-49f2-9a28-3e299199f2be",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "quiHcV1rHerfRUac",
          "name": "Fetch Email Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "7facbcd3-65be-4167-97b7-a1a2b111d4dd",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -4544,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Classifier Agent').item.json.output }}",
                    "rightValue": "IGNORE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7501f5ca-13dc-44b5-b4f9-d3c3d56c60fb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IGNORE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "69a8b696-68d2-48ec-aff7-0d99c7476982",
                    "leftValue": "={{ $('Classifier Agent').item.json.output }}",
                    "rightValue": "FYI",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FYI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "01d7f980-01b1-46a5-bd53-f7651672a068",
                    "leftValue": "={{ $('Classifier Agent').item.json.output }}",
                    "rightValue": "ACTION NEEDED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "A_N"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -704,
        176
      ],
      "id": "7fb60a3e-1080-4dfb-b8f5-96375fce8a82",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [\n  {\n    json: {\n      done: true,\n      processed: items.length,\n      finishedAt: new Date().toISOString(),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3424,
        544
      ],
      "id": "15e9dbb2-9ec0-4658-af1c-620ad91a148f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -992,
        416
      ],
      "id": "47fbb68d-5362-4687-930f-0090476a4b38",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "1ZrMc80LZuNYTpxa",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -192,
        672
      ],
      "id": "03a40502-6617-40a3-bfd1-09a81ee6bed1",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "1ZrMc80LZuNYTpxa",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(\n  (SELECT prefs_text\n   FROM public.\"data_table_user_A04B1GFsDKFbxNMU\"\n   ORDER BY updated_at DESC NULLS LAST\n   LIMIT 1),\n  ''::text\n) AS prefs_text;\n",
        "options": {
          "queryReplacement": "-1003642417272,6528871327"
        }
      },
      "id": "833883bf-92b8-403e-939c-086dacfe95bd",
      "name": "Get Writing Prefs (chat)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "ptHlPbbMoRdA1zSz",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot[Fetch_Email_Token]/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "[CHAT_ID]"
            },
            {
              "name": "message_thread_id",
              "value": "[FETCH]"
            },
            {
              "name": "text",
              "value": "✅ Done fetching 20 unread emails"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3200,
        544
      ],
      "id": "c34479cb-da82-4ddc-b9ec-a3d2769a3d7d",
      "name": "Fetch Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot[Email_Assistance_Token]/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "[CHAT_ID]"
            },
            {
              "name": "message_thread_id",
              "value": "[IGNORE]"
            },
            {
              "name": "text",
              "value": "=From: {{ $('Get a message').item.json.from.value[0].address }}\n\n{{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        0
      ],
      "id": "3517c0e8-d756-43cf-92df-3ec101262b2a",
      "name": "Ignore Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot[Email_Assistance_Token]/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "[CHAT_ID]"
            },
            {
              "name": "message_thread_id",
              "value": "[FYI]"
            },
            {
              "name": "text",
              "value": "=From: {{ $('Get a message').item.json.from.value[0].address }}\n\n{{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        192
      ],
      "id": "b47d114e-cd8b-4097-b29f-451524881674",
      "name": "FYI Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot[Failed_Email_Token]/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "[CHAT_ID]"
            },
            {
              "name": "message_thread_id",
              "value": "[FAILED]"
            },
            {
              "name": "text",
              "value": "⚠️ Sorry — the email assistant hit an error and couldn’t send this email to Telegram. Please contact the product seller to fix it."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4320,
        768
      ],
      "id": "15d673f5-8b1c-42a8-988a-b1ed766c1512",
      "name": "Failed Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot[Fetch_Email_Token]/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "[CHAT_ID]"
            },
            {
              "name": "message_thread_id",
              "value": "[FETCH]"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({\n  inline_keyboard: [[\n    { text: \"📥 Fetch 20 unread emails\", callback_data: \"fetch_unread:20\" }\n  ]]\n}) }}\n"
            },
            {
              "name": "text",
              "value": "📬 Fetch your last 20 unread Gmail emails"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4320,
        992
      ],
      "id": "31e33436-9834-44a7-bc90-626fb394caaf",
      "name": "Sending Button to Fetch History Topic"
    }
  ],
  "pinData": {},
  "connections": {
    "Send a text message": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drafting Email Agent": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Summarization Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summarization Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments": {
      "main": [
        [
          {
            "node": "Build OpenAI Attachment Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Attachment Request": {
      "main": [
        [
          {
            "node": "OpenAI - Summarize Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Attachment Summary": {
      "main": [
        [
          {
            "node": "Email Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Attachments": {
      "main": [
        [
          {
            "node": "Email Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Summarize Attachments": {
      "main": [
        [
          {
            "node": "Extract Attachment Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Has Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Context": {
      "main": [
        [
          {
            "node": "Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row1": {
      "main": [
        [
          {
            "node": "Mark as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Unread (batch)": {
      "main": [
        [
          {
            "node": "Split in Batches (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches (1)": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as read": {
      "main": [
        [
          {
            "node": "Wait (1s throttle)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait (1s throttle)": {
      "main": [
        [
          {
            "node": "Split in Batches (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Menu)": {
      "main": [
        [
          {
            "node": "Sending Button to Fetch History Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger (Menu Button)": {
      "main": [
        [
          {
            "node": "IF Fetch Unread Button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Fetch Unread Button": {
      "main": [
        [
          {
            "node": "Answer Callback Query (Fetch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback Query (Fetch)": {
      "main": [
        [
          {
            "node": "List Unread (batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Failed Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Ignore Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FYI Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Writing Prefs (chat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Fetch Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Drafting Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Writing Prefs (chat)": {
      "main": [
        [
          {
            "node": "Drafting Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignore Telegram": {
      "main": [
        [
          {
            "node": "Mark as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FYI Telegram": {
      "main": [
        [
          {
            "node": "Mark as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "90f26278-4286-4aec-82bc-31d780bd6e8e",
  "meta": {
    "instanceId": "c2319bcf64035e12fa4b23aa88003edd572c9ac2ee40ffdd07560e871f1375d3"
  },
  "id": "ZrrhAXWgjTTaSBqy",
  "tags": []
}