production/Fetch Old Email V1.json
{
  "name": "Fetch Old Email V1",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -4224,
        896
      ],
      "id": "71a77467-6939-4bb3-a4a1-5d14d024999d",
      "name": "List Unread (batch)",
      "webhookId": "265fdc82-453c-4b75-ba94-6b17e0dffdbc",
      "credentials": {
        "gmailOAuth2": {
          "id": "KDVmDdGYqauScxAG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1003772493573",
        "text": "={{\n(() => {\n  const nodeJson = (name) => {\n    try {\n      return ($node?.[name]?.json) || {};\n    } catch (e) {\n      return {};\n    }\n  };\n\n  const firstLine = (s) => String(s ?? '').split(/\\r?\\n/)[0];\n\n  const escapeHtml = (s) =>\n    String(s ?? '')\n      .replace(/&/g, '&amp;')\n      .replace(/</g, '&lt;')\n      .replace(/>/g, '&gt;');\n\n  // ---------- CATEGORY ----------\n  const cls = nodeJson('Classifier Agent');\n  const rawCat =\n    $json.category ??\n    cls.category ??\n    cls.output ??\n    'FYI';\n\n  const cleanedCat = firstLine(rawCat)\n    .replace(/\\*\\*/g, '')\n    .replace(/`/g, '')\n    .replace(/^category\\s*:\\s*/i, '')\n    .trim();\n\n  let norm = cleanedCat.toUpperCase().replace(/[\\s_]+/g, '_'); // ACTION_NEEDED\n  if (norm === 'ACTION') norm = 'ACTION_NEEDED';              // just in case\n  if (!['IGNORE', 'FYI', 'ACTION_NEEDED'].includes(norm)) norm = 'FYI';\n\n  const displayCat = norm.replace(/_/g, ' '); // ACTION NEEDED\n\n  // ---------- FROM / SUBJECT ----------\n  const listUnread = nodeJson('List Unread (batch)');\n\n  const fromRaw =\n    listUnread.From ??\n    listUnread.from ??\n    $json.from ??\n    $json.From ??\n    'Unknown';\n\n  // remove angle brackets that break Telegram when parse mode is not truly none\n  const from = String(fromRaw).replace(/[<>]/g, '');\n\n  const subject =\n    listUnread.Subject ??\n    listUnread.subject ??\n    $json.subject ??\n    $json.Subject ??\n    'No subject';\n\n  // ---------- SUMMARY ----------\n  const sum = nodeJson('Summarization Agent');\n  const summary =\n    sum.output ??\n    sum.summary ??\n    $json.summary ??\n    '';\n\n  // ---------- BODY (LATEST ONLY) ----------\n  const getMsg = nodeJson('Get a message');\n  const rawBody =\n    getMsg.textPlain ??\n    getMsg.textAsPlain ??\n    getMsg.text ??\n    $json.email_text ??\n    '';\n\n  const decodeEntities = (s) =>\n    String(s ?? '')\n      .replace(/&lt;/g, '<')\n      .replace(/&gt;/g, '>')\n      .replace(/&amp;/g, '&')\n      .replace(/&quot;/g, '\"')\n      .replace(/&#39;/g, \"'\");\n\n  const stripQuoted = (s) => {\n    let text = decodeEntities(String(s || '')).trim();\n\n    // Fix \"exceptionOn Mon, ...\" -> add newline before \"On Mon,\"\n    text = text.replace(\n      /([^\\r\\n])On\\s(?=(Mon|Tue|Wed|Thu|Fri|Sat|Sun),)/g,\n      '$1\\nOn '\n    );\n\n    const cutPatterns = [\n      /(?:^|\\r?\\n)\\s*On\\s.+?wrote:\\s*/is,                 // Gmail quote marker\n      /(?:^|\\r?\\n)\\s*-----Original Message-----\\s*/is,    // Outlook\n      /(?:^|\\r?\\n)\\s*From:\\s.+\\r?\\n\\s*Sent:\\s/is,         // Outlook header\n      /(?:^|\\r?\\n)\\s*-{2,}\\s*Forwarded message\\s*-{2,}\\s*/is\n    ];\n\n    let out = text;\n    for (const re of cutPatterns) {\n      const idx = out.search(re);\n      if (idx !== -1) {\n        out = out.slice(0, idx).trim();\n        break;\n      }\n    }\n\n    // Remove quoted lines starting with \">\"\n    out = out\n      .split(/\\r?\\n/)\n      .filter(line => !/^\\s*>/.test(line))\n      .join('\\n')\n      .trim();\n\n    return out;\n  };\n\n  const latestMessageOnly = stripQuoted(rawBody);\n\n  // ---------- BUILD MESSAGE ----------\n  let msg =\n`Category: ${displayCat}\nFrom: ${from}\nSubject: ${subject}\n\nSummary: ${summary}\n\nMessage:\n${latestMessageOnly}`;\n\n  if (norm === 'ACTION_NEEDED') {\n    const draft = nodeJson('Drafting Email Agent').output ?? '';\n    if (String(draft).trim()) {\n      msg += `\n\nDraft email:\n${draft}`;\n    }\n  }\n\n  // Telegram hard limit is 4096 chars. Keep buffer.\n  const safe = escapeHtml(msg).slice(0, 3900);\n\n  return safe;\n})()\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Approve",
                    "additionalFields": {
                      "callback_data": "={{ 'reply:' + $json.message.threadId}}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "✏️ Edit",
                    "additionalFields": {
                      "callback_data": "={{ 'edit:' + $json.message.threadId}}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🧾 History",
                    "additionalFields": {
                      "callback_data": "={{ 'history:' + $json.message.threadId }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🎨 Style",
                    "additionalFields": {
                      "callback_data": "style_menu"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        1104
      ],
      "id": "b8949892-ea13-497e-96b6-2246d1811b54",
      "name": "Send a text message",
      "webhookId": "1c83c47a-9975-461a-8e87-3225c7dad512",
      "credentials": {
        "telegramApi": {
          "id": "NOr4RTc2yK3WqTT7",
          "name": "Action Needed"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EB-MUC7mL69LVyrxYFvoBwZz83wqUqr29sn9_isOsd0",
          "mode": "list",
          "cachedResultName": "n8n automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EB-MUC7mL69LVyrxYFvoBwZz83wqUqr29sn9_isOsd0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "email_drafts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "gmail_message_id": "={{ $('Create Gmail Draft').item.json.message.id }}",
            "thread_id": "={{ $('Create Gmail Draft').item.json.message.threadId }}",
            "from": "={{ $('Get a message').first().json.headers.from }}",
            "subject": "=",
            "draft_body": "={{ $('Drafting Email Agent').item.json.output }}",
            "telegram_chat_id": "={{ $json.result.chat.id }}",
            "telegram_msg_id": "={{ $json.result.message_id }}",
            "status": "={{\"waiting_approve\"}}",
            "telegram_message_ids": "={{ $json.result.message_id }}",
            "categoy": "={{ $('Classifier Agent').first().json.output }}",
            "gmail_draft_id": "={{ $('Create Gmail Draft').item.json.id || '' }}",
            "gmail_draft_message_id": "={{ $('Create Gmail Draft').item.json.message?.id || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "gmail_message_id",
              "displayName": "gmail_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thread_id",
              "displayName": "thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "draft_body",
              "displayName": "draft_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_chat_id",
              "displayName": "telegram_chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_msg_id",
              "displayName": "telegram_msg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_message_ids",
              "displayName": "telegram_message_ids",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "categoy",
              "displayName": "categoy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "old_email",
              "displayName": "old_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_draft_id",
              "displayName": "gmail_draft_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_draft_message_id",
              "displayName": "gmail_draft_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        1104
      ],
      "id": "d23600c2-ee3d-46f3-b20a-6df6fc58a13a",
      "name": "Insert row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fY1Ze3nK84njdSmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -3776,
        624
      ],
      "id": "aaabbbfb-988a-4721-9710-02bdc10a193e",
      "name": "Get a message",
      "webhookId": "eca09e9d-50e3-44d7-bd87-9f376e4fb08b",
      "credentials": {
        "gmailOAuth2": {
          "id": "KDVmDdGYqauScxAG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is the email content: {{ $('Email Context').item.json.email_text }}\n\nThe Attachment (if there is one): {{ $('Email Context').item.json.attachment_summary }}",
        "options": {
          "systemMessage": "You are an email classification assistant for automation workflows.\n\nAbsolute override — task platforms:\n\nAny email originating from task or project management systems\n(Asana, Jira, Trello, ClickUp, Linear, GitHub notifications),\nincluding but not limited to:\n- overdue task digests\n- deletion or undo notifications\n- restore links or time windows\n- “respond now” or “action required” wording\n- status updates, comments, mentions, assignments\n\nACTION NEEDED is ONLY for messages that require the user to reply BY EMAIL to a human sender (not no-reply).\nEverything else is FYI (unless spam = IGNORE).\n\nThis includes security/account emails like:\n- change your password\n- secure your account\n- suspicious sign-in\n- password reset\n- MFA/OTP codes\nThese are FYI because they do not require an email reply.\n\n\nMUST ALWAYS be classified as FYI.\n\nThis is true even if:\n- tasks are overdue\n- a project/template was deleted\n- there is a limited undo period\n- the language sounds urgent\n\nEXCEPTION:\nOnly classify as ACTION NEEDED if the email explicitly requires\na reply BY EMAIL to a human sender (not no-reply),\nor indicates external security, payment, or account compromise.\n\nClassify the message into exactly one label:\nIGNORE\nFYI\nACTION NEEDED\n\nMeanings:\n\nIGNORE: spam, promos, newsletters, cold outreach, social noise, low-value.\n\nFYI: useful info or notifications that do not require replying by email (status updates, automated notifications, meeting invites/updates, task updates).\n\nACTION NEEDED: requires a direct email reply/confirmation/approval, or time-sensitive risk (OTP, security, payment failed, invoice due/overdue, account access issues, urgent scheduling that requires confirmation).\n\nCritical instruction:\n\nWhen classifying, IGNORE any text that is part of automation output such as “Category: …”, “Summary: …”, and especially “Draft email: …”. Do NOT let “Draft email” influence classification.\n\nPriority rules (apply in this order):\n\nAsana/task-platform override (almost always FYI)\n\nIf the sender is from Asana (asana.com, no-reply@asana.com\n) OR the email content is an automated task/comment/mention/attachment notification from task platforms (Asana, Jira, Trello, ClickUp, Linear, GitHub notifications):\n-> Output FYI\n\nEven if it says “assigned you a task”, “mentioned you”, “left a comment”, “please review”, “answer questions”, “view task”, “attachment added”.\n\nEXCEPT output ACTION NEEDED only if the email explicitly requires an email reply to a person (not in-app), OR includes a hard deadline with consequence, OR indicates security/payment/account risk.\n\nCalendar invite/meeting override (FYI by default)\n\nIf the email is a calendar invitation, update, or reminder (Google Calendar / ICS style content, “Invitation from Google Calendar”, “This event has been updated”, meeting links, phone PINs):\n-> Output FYI\n\nEXCEPT output ACTION NEEDED only if it explicitly asks you to RSVP/confirm by a specific deadline, or says attendance is required, or there is a strong consequence for not responding.\n\nNo-reply informational rule\n\nIf the sender is a no-reply address AND the message is informational/notification:\n-> Output FYI\n\nEXCEPT ACTION NEEDED only for OTP/security/payment failure/invoice due/account lock or other urgent risk.\n\nAction-needed rule (use only when clearly true)\nOutput ACTION NEEDED only if at least one is true:\n\nThe email explicitly asks you to reply by email or confirm/approve via email\n\nA client/customer is waiting on your email response\n\nThere is a deadline you must meet and the action is required now\n\nSecurity/authentication risk (OTP, suspicious login, password reset, MFA, account lock)\n\nFinancial risk (payment failed, invoice due/overdue, service suspension)\n\nA scheduling request that requires confirmation (not optional) or a decision\n\nFYI default\n\nIf it is not spam and does not meet ACTION NEEDED conditions:\n-> Output FYI\n\nIgnore rule\n\nOutput IGNORE if spam/promotional/newsletter/cold outreach/low-value noise.\n\nOutput rules (must follow exactly):\n\nOutput must be EXACTLY one of these three strings:\nIGNORE\nFYI\nACTION NEEDED\n\nDo not add any other words.\n\nDo not use any formatting characters.\n\nDo not add punctuation.\n\nDo not add newlines or extra spaces.\n\nIf unsure between FYI and ACTION NEEDED, choose FYI."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2096,
        560
      ],
      "id": "61030742-2cbb-48a3-8ad6-e13f4fd24b11",
      "name": "Classifier Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here's the email content:\n{{ $('Email Context').item.json.email_text }}\nAttachment summary:\n{{ $('Email Context').item.json.attachment_summary || '' }}\n",
        "options": {
          "systemMessage": "You are an email summarization assistant for automation workflows.\n\nThe user message will usually contain:\n\nHere's the email content: <email body>\nAttachment summary: <optional attachment summary>\n\nRules to choose what to summarize:\n1) Extract EMAIL_BODY = the text after \"Here's the email content:\" (trim whitespace).\n2) Extract ATTACHMENTS = the text after \"Attachment summary:\" (trim whitespace).\n3) If EMAIL_BODY has any non-whitespace characters, you MUST summarize EMAIL_BODY (even if ATTACHMENTS is empty).\n4) If EMAIL_BODY is empty but ATTACHMENTS is not, summarize ATTACHMENTS.\n5) If both are empty, respond exactly: No email content provided.\n\nOutput rules:\n- Return only the summary text (no labels, prefixes, bullets, headings).\n- 1–2 lines total.\n- Include: purpose, required action, deadlines, key IDs, important amounts, and latest status if it’s a thread.\n- Do not invent details.\n\nPrivacy/redaction:\n- API keys/tokens: first 4 chars + ****\n- Card numbers: last 4 only\n- Passwords/OTPs: ****\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1440,
        560
      ],
      "id": "6465fb51-206f-4a47-b5db-e824855ba543",
      "name": "Summarization Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Writing preferences (follow strictly): {{ $json.prefs_text || '' }}\n\nHere's the Email Content:  {{\n  ($('Email Context').first().json.email_text || '')\n    .replace(/https?:\\/\\/\\S+/g, '')       // remove URLs\n    .replace(/\\[[^\\]]*\\]/g, '')           // remove [ ... ] blocks\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 6000)\n}}\nHere's the Attachment (If there is one): {{ $('Email Context').first().json.attachment_summary }}",
        "options": {
          "systemMessage": "You are an email reply drafting assistant for automation workflows.\n\nInput format:\n\"Here's the email content: <full email text>\"\n\nYour job:\nWrite a ready-to-send reply email draft to the sender.\n\nCore rules:\n- Output only the email draft body (no labels, no analysis, no bullet headers like “Subject:” unless asked).\n- Keep it short and clear (3–10 sentences). Use paragraphs.\n- Use a professional, friendly tone. Match the sender’s tone (formal vs casual).\n- Directly address the sender’s request, questions, or next steps.\n- If the email asks for approval/confirmation, clearly state approval or confirmation.\n- If the email needs missing info from the user, insert placeholders like [NAME], [DATE], [AMOUNT], [LINK], [ATTACHMENT], [PHONE], and ask concise questions.\n- Never invent facts (dates, numbers, names, promises). If unsure, ask or use placeholders.\n- If the content is empty or not an email, respond exactly: \"No email content provided.\"\n\nPrivacy and safety:\n- Do not include secrets. If the email contains API keys/tokens, show only first 4 characters + \"****\".\n- If it contains card numbers, show only last 4 digits.\n- Mask passwords/OTPs as \"****\" even if present.\n- Do not click links or claim you verified anything externally.\n\nSpecial cases:\n- Scheduling: propose 2–3 time options and ask them to confirm; include meeting link placeholder if needed.\n- Support/ticket: acknowledge, restate issue, provide requested details (or placeholders), and ask for ETA if needed.\n- Billing/invoice: confirm payment plan/status (or ask), reference invoice/order IDs, and ask for receipt if relevant.\n- Promotional/cold outreach: politely decline or ask for more details depending on the email’s intent.\n\nOutput requirements:\n- Output ONLY the email body.\n- Start with a greeting.\n- End with a polite closing and a signature placeholder:\n  \"Best regards,\n  [Your Name]\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -336,
        1104
      ],
      "id": "7fac37b2-d639-463b-83ba-b7956f801bda",
      "name": "Drafting Email Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EB-MUC7mL69LVyrxYFvoBwZz83wqUqr29sn9_isOsd0",
          "mode": "list",
          "cachedResultName": "n8n automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EB-MUC7mL69LVyrxYFvoBwZz83wqUqr29sn9_isOsd0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 264648508,
          "mode": "list",
          "cachedResultName": "drafts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "draft_id": "={{ $json.gmail_message_id }}",
            "body": "={{ $json.draft_body }}",
            "subject": "=",
            "telegram_message_id": "={{ $json.telegram_msg_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "draft_id",
              "displayName": "draft_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_message_id",
              "displayName": "telegram_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "revision",
              "displayName": "revision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        1104
      ],
      "id": "e709c1f7-8b16-43f8-a5e2-f27e6203782c",
      "name": "Insert row1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fY1Ze3nK84njdSmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=",
        "message": "={{ $('Drafting Email Agent').item.json.output || '' }}",
        "options": {
          "threadId": "={{ $('Get a message').first().json.threadId }}",
          "sendTo": "={{ $('Get a message').first().json.headers.from }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        16,
        1104
      ],
      "id": "1016d98d-5bab-4699-9e41-3ed6fd87da6d",
      "name": "Create Gmail Draft",
      "webhookId": "ff94cdc3-6eaa-4d6a-ad34-b37f19444278",
      "credentials": {
        "gmailOAuth2": {
          "id": "KDVmDdGYqauScxAG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eedd3b5f-31da-43a5-9e9a-9cae8c3d5f0d",
              "leftValue": "={{ Object.keys($binary || {}).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            },
            {
              "id": "8d8324a2-e0fd-4b9e-9a7b-130242bd306d",
              "leftValue": "={{ $json.hasPdf }}",
              "rightValue": 1,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3328,
        624
      ],
      "id": "8d66aff0-52a7-427b-aa70-703b4ac6a76b",
      "name": "Has Attachments"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst maxFiles = 3;\nconst maxBytes = 15 * 1024 * 1024; // 15MB per file\n\nfor (let itemIndex = 0; itemIndex < items.length; itemIndex++) {\n  const item = items[itemIndex];\n  const bin = item.binary || {};\n  const keys = Object.keys(bin).filter(k => k.startsWith('attachment_'));\n\n  const content = [{\n    type: \"input_text\",\n    text: [\n      \"Summarize the email attachment(s) for the email summary.\",\n      \"Give a compact, factual summary (2–5 bullet points total).\",\n      \"Include key parties, dates, amounts, and required actions if present.\",\n      \"If the file is unreadable, say so.\"\n    ].join(\"\\n\")\n  }];\n\n  const picked = [];\n  const skipped = [];\n\n  for (const key of keys) {\n    const meta = bin[key] || {};\n    const mime = (meta.mimeType || \"\").toLowerCase();\n    const filename = meta.fileName || key;\n\n    // ✅ get real bytes even in filesystem-v2 mode\n    const buffer = await this.helpers.getBinaryDataBuffer(itemIndex, key);\n\n    if (!buffer || !buffer.length) {\n      skipped.push(`${filename} (no data)`);\n      continue;\n    }\n\n    if (buffer.length > maxBytes) {\n      skipped.push(`${filename} (too large ${buffer.length} bytes)`);\n      continue;\n    }\n\n    const b64 = buffer.toString(\"base64\");\n\n    // PDF\n    if (mime === \"application/pdf\" || filename.toLowerCase().endsWith(\".pdf\")) {\n      const pdfMime = mime || \"application/pdf\";\n      content.push({\n        type: \"input_file\",\n        filename,\n        file_data: `data:${pdfMime};base64,${b64}`,\n      });\n      picked.push(filename);\n\n    // IMAGE\n    } else if (mime.startsWith(\"image/\")) {\n      content.push({\n        type: \"input_image\",\n        image_url: `data:${mime};base64,${b64}`,\n      });\n      picked.push(filename);\n\n    } else {\n      skipped.push(`${filename} (unsupported ${mime || \"type\"})`);\n    }\n\n    if (picked.length >= maxFiles) break;\n  }\n\n  item.json.openai_body = {\n    model: \"gpt-4o-mini\",\n    input: [{ role: \"user\", content }],\n  };\n\n  item.json._attachment_files_used = picked;\n  item.json._attachment_files_skipped = skipped;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3104,
        512
      ],
      "id": "6d6c5497-77b6-46fa-b6d8-4dff53915012",
      "name": "Build OpenAI Attachment Request"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction tryExtractOutputText(resp) {\n  if (typeof resp?.output_text === \"string\" && resp.output_text.trim()) return resp.output_text.trim();\n\n  // Fallback: walk output array\n  const out = resp?.output;\n  if (Array.isArray(out)) {\n    const chunks = [];\n    for (const o of out) {\n      // common shapes: {type:\"message\", content:[{type:\"output_text\", text:\"...\"}]}\n      if (o?.type === \"message\" && Array.isArray(o.content)) {\n        for (const c of o.content) {\n          if (c?.type === \"output_text\" && typeof c.text === \"string\") chunks.push(c.text);\n        }\n      }\n    }\n    const joined = chunks.join(\"\\n\").trim();\n    if (joined) return joined;\n  }\n  return \"\";\n}\n\nfor (const item of items) {\n  const summary = tryExtractOutputText(item.json);\n\n  // Keep only the attachment summary in json for easy merging\n  item.json = {\n    attachment_summary: summary,\n  };\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        512
      ],
      "id": "1a7c808e-6c85-411e-8679-41ee0748341a",
      "name": "Extract Attachment Summary"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  item.json.attachment_summary = \"\";\n  item.json._attachment_files_used = [];\n  item.json._attachment_files_skipped = [];\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2768,
        896
      ],
      "id": "173a5db9-67cc-4daa-9ef1-32f75d432940",
      "name": "No Attachments"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.openai_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2880,
        512
      ],
      "id": "1c6e572e-0761-415d-a790-53726e8f630f",
      "name": "OpenAI - Summarize Attachments",
      "credentials": {
        "openAiApi": {
          "id": "58tGVV5vxWrUgphA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hasPdf = items.some(item => {\n  const bin = item.binary || {};\n  return Object.entries(bin).some(([k, b]) => {\n    const name = String(b?.fileName || '').toLowerCase();\n    const mime = String(b?.mimeType || '').toLowerCase();\n    return k.startsWith('attachment_') && (mime === 'application/pdf' || name.endsWith('.pdf'));\n  });\n});\n\nconst binaryKeys = items.flatMap(item => Object.keys(item.binary || {}));\n\n// keep the original binary so later nodes still have the attachments\nreturn [{\n  json: { hasPdf: !!hasPdf, binaryKeys },\n  binary: items[0].binary,\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3552,
        624
      ],
      "id": "27b7bed2-7034-48d9-a907-99d09a64933c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// ---------- helpers ----------\nfunction decodeHtmlEntities(str = '') {\n  const map = {\n    '&nbsp;': ' ',\n    '&amp;': '&',\n    '&lt;': '<',\n    '&gt;': '>',\n    '&quot;': '\"',\n    '&#39;': \"'\",\n    '&apos;': \"'\",\n  };\n\n  str = str.replace(/&(nbsp|amp|lt|gt|quot|apos);|&#39;/g, (m) => map[m] ?? m);\n\n  str = str.replace(/&#(\\d+);/g, (_, d) => {\n    const code = Number(d);\n    return Number.isFinite(code) ? String.fromCharCode(code) : '';\n  });\n\n  str = str.replace(/&#x([0-9a-fA-F]+);/g, (_, h) => {\n    const code = parseInt(h, 16);\n    return Number.isFinite(code) ? String.fromCharCode(code) : '';\n  });\n\n  return str;\n}\n\nfunction htmlToText(html = '') {\n  let s = String(html);\n  s = s.replace(/<\\s*br\\s*\\/?>/gi, '\\n');\n  s = s.replace(/<\\/\\s*p\\s*>/gi, '\\n\\n');\n  s = s.replace(/<\\/\\s*div\\s*>/gi, '\\n');\n  s = s.replace(/<[^>]*>/g, '');\n  s = decodeHtmlEntities(s);\n  s = s.replace(/[\\u200B-\\u200D\\uFEFF]/g, '');\n  return s;\n}\n\n// ---------- pull msg from \"Get a message\" ----------\nlet msg = {};\ntry {\n  msg = $items('Get a message')?.[0]?.json ?? {};\n} catch {\n  msg = {};\n}\n\n// ---------- attachment summary (optional) ----------\nlet attFromNode = null;\ntry {\n  attFromNode = $items('Extract Attachment Summary')?.[0]?.json?.attachment_summary ?? null;\n} catch {\n  attFromNode = null;\n}\n\n// ---------- pick raw email body ----------\nconst raw =\n  msg.textPlain ||\n  msg.text ||\n  msg.body ||\n  msg.snippet ||\n  msg.textHtml ||\n  msg.html ||\n  msg.textAsHtml ||\n  '';\n\n// convert to clean text\nconst asText = /<[^>]+>/.test(raw) ? htmlToText(raw) : decodeHtmlEntities(String(raw));\n\nconst email_text = String(asText)\n  .replace(/(?:https?:\\/\\/|www\\.)\\S+/g, '') // remove links\n  .replace(/\\[[^\\]]*\\]/g, '')\n  .replace(/\\s+\\n/g, '\\n')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .replace(/[ \\t]{2,}/g, ' ')\n  .trim()\n  .slice(0, 4000);\n\n// ---------- write output on every incoming item ----------\nfor (const item of items) {\n  item.json = {\n    ...item.json,\n    id: msg.id ?? item.json.id,\n    threadId: msg.threadId ?? item.json.threadId,\n    email_text,\n    attachment_summary: attFromNode ?? item.json.attachment_summary ?? '',\n  };\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        560
      ],
      "id": "4737b0a7-33b7-4a28-bd11-ca3697b1c6b6",
      "name": "Email Context"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Get a message').first().json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        992,
        576
      ],
      "id": "d7331116-a4e2-46ac-9494-bc78b9cd9099",
      "name": "Mark as read",
      "webhookId": "c01ea15c-8e00-48e6-ae5e-8b9ef56f4a68",
      "credentials": {
        "gmailOAuth2": {
          "id": "KDVmDdGYqauScxAG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4000,
        896
      ],
      "id": "c982166c-f300-459d-92db-44379ec579cc",
      "name": "Split in Batches (1)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2096,
        704
      ],
      "id": "263026af-1808-4206-89e2-7151e9833545",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "58tGVV5vxWrUgphA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1376,
        592
      ],
      "id": "858557ac-06fc-4530-aa1e-d5cc20afa235",
      "name": "Wait (1s throttle)",
      "webhookId": "57a039f1-555a-438c-8a78-681c368f3691"
    },
    {
      "parameters": {
        "jsCode": "const raw = String($json.output ?? '').trim();\nconst cleaned = raw.replace(/\\*/g, '').trim();\n\nlet label = cleaned.toUpperCase();\nif (label === 'ACTION') label = 'ACTION NEEDED';\n\nif (!['IGNORE', 'FYI', 'ACTION NEEDED'].includes(label)) {\n  throw new Error(`Bad label from model: ${raw}`);\n}\n\nreturn [{ json: { ...$json, label } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        560
      ],
      "id": "a0f7ac3e-150d-4a0e-bcc8-887a58dca81a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "id": "89058122-91f9-4ce9-a167-34831e263b57",
      "name": "Manual Trigger (Menu)",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -4912,
        1872
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "callback_query",
          "message"
        ],
        "additionalFields": {}
      },
      "id": "da0beb1c-32e9-494e-8791-6e788470aa52",
      "name": "Telegram Trigger (Menu Button)",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -4896,
        896
      ],
      "webhookId": "3e1062d1-ff87-408f-89b0-b378c1f76e32",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "quiHcV1rHerfRUac",
          "name": "Fetch Email Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b64fbfe-b181-406f-841e-3124dd0ce7da",
              "leftValue": "={{ $json.callback_query?.data || '' }}",
              "rightValue": "fetch_unread",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2cc02491-1bb9-453d-a6a1-8f4bd58488be",
      "name": "IF Fetch Unread Button",
      "type": "n8n-nodes-base.if",
      "position": [
        -4672,
        896
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $json.callback_query.id }}",
        "additionalFields": {
          "text": "Fetching unread emails…"
        }
      },
      "id": "132156cc-42d7-4582-a06b-a09f188aaf47",
      "name": "Answer Callback Query (Fetch)",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -4448,
        896
      ],
      "webhookId": "6d293fec-46cd-42d8-92c9-5ea690c16bd8",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "quiHcV1rHerfRUac",
          "name": "Fetch Email Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "2d04629d-a4e1-4b4e-aac1-48fdadc01b17",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        -4912,
        1440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Classifier Agent').item.json.output }}",
                    "rightValue": "IGNORE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7501f5ca-13dc-44b5-b4f9-d3c3d56c60fb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IGNORE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "69a8b696-68d2-48ec-aff7-0d99c7476982",
                    "leftValue": "={{ $('Classifier Agent').item.json.output }}",
                    "rightValue": "FYI",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FYI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "01d7f980-01b1-46a5-bd53-f7651672a068",
                    "leftValue": "={{ $('Classifier Agent').item.json.output }}",
                    "rightValue": "ACTION NEEDED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "A_N"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1072,
        544
      ],
      "id": "9aba6e56-43d1-428c-9f87-151912e80018",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn [\n  {\n    json: {\n      done: true,\n      processed: items.length,\n      finishedAt: new Date().toISOString(),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3744,
        1264
      ],
      "id": "f471ff95-f222-44d0-9663-a3424252e643",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1440,
        720
      ],
      "id": "e3570f4b-e02c-4493-a5cc-95f4ce69e72a",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "1ZrMc80LZuNYTpxa",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -272,
        1328
      ],
      "id": "21349359-c56f-459f-a9d8-b3c775b65dfb",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "1ZrMc80LZuNYTpxa",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EB-MUC7mL69LVyrxYFvoBwZz83wqUqr29sn9_isOsd0",
          "mode": "list",
          "cachedResultName": "n8n automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EB-MUC7mL69LVyrxYFvoBwZz83wqUqr29sn9_isOsd0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1586452316,
          "mode": "list",
          "cachedResultName": "prefs"
        },
        "options": {}
      },
      "id": "8e0ccd7d-c370-48b1-b863-fb31f4d82b68",
      "name": "Get Writing Prefs (chat)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        1104
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fY1Ze3nK84njdSmp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8547339878:AAHrRi1Vx0aWd547hel1VSZuS6Q3ooyQ_Y0/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003772493573"
            },
            {
              "name": "message_thread_id",
              "value": "6"
            },
            {
              "name": "text",
              "value": "✅ Done fetching 20 unread emails"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3536,
        1264
      ],
      "id": "8c57ffbf-fcb3-434c-a8aa-f07c4ff47425",
      "name": "Fetch Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8298402532:AAFCjmQZ9sQ88xArE_S16PiQtmQ1cabjWks/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003772493573"
            },
            {
              "name": "message_thread_id",
              "value": "4"
            },
            {
              "name": "text",
              "value": "=From: {{ $('Get a message').item.json.from.value[0].address }}\n\n{{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        112
      ],
      "id": "65e2c14b-7600-4ba6-9ea0-922eceff2fa4",
      "name": "Ignore Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8298402532:AAFCjmQZ9sQ88xArE_S16PiQtmQ1cabjWks/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003772493573"
            },
            {
              "name": "message_thread_id",
              "value": "2"
            },
            {
              "name": "text",
              "value": "=From: {{ $('Get a message').item.json.from.value[0].address }}\n\n{{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        64,
        624
      ],
      "id": "7bf592ec-d4ea-4bb6-843a-6384711b0763",
      "name": "FYI Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8526061026:AAGl8wxM1P4mh4CBLSLiZeeE9sbcfxQuyRY/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003772493573"
            },
            {
              "name": "message_thread_id",
              "value": "20"
            },
            {
              "name": "text",
              "value": "⚠️ Sorry — the email assistant hit an error and couldn’t send this email to Telegram. Please contact the product seller to fix it."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4688,
        1440
      ],
      "id": "4c62d637-b395-4a7c-8f51-bfc48b6fd04a",
      "name": "Failed Telegram"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8547339878:AAHrRi1Vx0aWd547hel1VSZuS6Q3ooyQ_Y0/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-1003772493573"
            },
            {
              "name": "message_thread_id",
              "value": "6"
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({\n  inline_keyboard: [[\n    { text: \"📥 Fetch 20 unread emails\", callback_data: \"fetch_unread:20\" }\n  ]]\n}) }}\n"
            },
            {
              "name": "text",
              "value": "📬 Fetch your last 20 unread Gmail emails"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4688,
        1872
      ],
      "id": "73f832cd-001e-45e6-8de2-1ab8565fd503",
      "name": "Sending Button to Fetch History Topic"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json || {});\nlet latest = '';\nfor (let i = rows.length - 1; i >= 0; i--) {\n  const r = rows[i];\n  if (typeof r.prefs_text === 'string') {\n    latest = r.prefs_text;\n    break;\n  }\n}\nreturn [{ json: { prefs_text: latest || '' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        1104
      ],
      "id": "5d956735-7c77-4a56-97fd-0b4a1e9897e0",
      "name": "Get Writing Prefs (chat) - Pick Latest"
    },
    {
      "parameters": {
        "content": "## FETCH UNREAD BUTTON ROUTER\n- TRIGGER = TELEGRAM MENU CALLBACK\n- IF CALLBACK_DATA STARTS WITH fetch_unread\n- TRUE -> ACK TELEGRAM: \"Fetching unread emails…\"\n- FALSE -> DO NOTHING (IGNORE OTHER BUTTONS)\n",
        "height": 352,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4960,
        720
      ],
      "typeVersion": 1,
      "id": "de2ec1ca-dfae-482a-86e0-115ea39d7be9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## FETCH UNREAD + BATCH LOOP\n- LIST UNREAD EMAILS (LIMIT = 20)\n- SPLIT INTO BATCHES\n- LOOP PATH -> PROCESS 1 EMAIL AT A TIME\n- DONE PATH -> SEND \"DONE FETCHING\" MESSAGE\n",
        "height": 352,
        "width": 672,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4496,
        736
      ],
      "typeVersion": 1,
      "id": "0500bac4-f8c5-4b58-be87-a8d852fd2ac7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "BATCH ROUTER (LOOP / DONE)\n- LOOP OUTPUT -> GET 1 MESSAGE DETAILS\n- DONE OUTPUT -> BUILD FINAL STATUS\n- DONE -> SEND TELEGRAM: \"✅ Done fetching 20 unread emails\"\n",
        "height": 304,
        "width": 416,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3792,
        1120
      ],
      "typeVersion": 1,
      "id": "8f5b0fd3-009c-431d-8660-3bdf3ec1cb21",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## GET EMAIL + CHECK ATTACHMENTS\n- GET FULL MESSAGE (SIMPLE = FALSE)\n- KEEP BODY + HEADERS + BINARY ATTACHMENTS\n- CHECK: HAS PDF OR ANY ATTACHMENT_* BINARY\n- TRUE -> SUMMARIZE ATTACHMENTS VIA OPENAI\n- FALSE -> SKIP ATTACHMENT SUMMARY\n",
        "height": 336,
        "width": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3792,
        448
      ],
      "typeVersion": 1,
      "id": "bea9883d-6372-4717-b599-ead66fc90ded",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## ATTACHMENTS: SUMMARIZE\n- BUILD OPENAI REQUEST FROM UP TO 3 FILES\n- LIMIT = 15MB PER FILE\n- SEND TO OPENAI RESPONSE API\n- EXTRACT attachment_summary TEXT ONLY\n",
        "height": 320,
        "width": 624,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3152,
        368
      ],
      "typeVersion": 1,
      "id": "90db496e-951b-45de-9a66-7b00516a9e3e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## ATTACHMENTS: NONE\n- CONTINUE TO EMAIL CONTEXT\n",
        "height": 240,
        "width": 304,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2848,
        784
      ],
      "typeVersion": 1,
      "id": "84420f15-e5c8-4a41-94fa-9ceb595a407b",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "EMAIL CONTEXT + CLASSIFY\n- CLEAN EMAIL BODY (PLAIN TEXT)\n- REMOVE LINKS + EXTRA WHITESPACE\n- ADD attachment_summary (IF ANY)\n- CLASSIFIER OUTPUT = IGNORE / FYI / ACTION NEEDED\n- VALIDATE LABEL IN CODE NODE\n",
        "height": 464,
        "width": 800,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2336,
        384
      ],
      "typeVersion": 1,
      "id": "15ae4433-27c0-4e21-8a37-52323a661a41",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "SUMMARY + ROUTE BY CATEGORY\n- SUMMARIZE EMAIL (1–2 LINES)\n- SWITCH ON CLASSIFIER OUTPUT\n- IGNORE -> SEND TO IGNORE TOPIC\n- FYI -> SEND TO FYI TOPIC\n- ACTION NEEDED -> DRAFT REPLY + APPROVAL FLOW\n",
        "height": 480,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1488,
        368
      ],
      "typeVersion": 1,
      "id": "b82e874b-0b7f-4e23-8f9c-39e6c95503d8",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "IGNORE BRANCH\n- SEND SHORT OUTPUT TO TELEGRAM (IGNORE TOPIC)\n",
        "height": 288,
        "width": 288,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "70060cd1-34a9-494d-8e45-d66eb09f07c3",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "FYI BRANCH\n- SEND SUMMARY TO TELEGRAM (FYI TOPIC)\n\n",
        "height": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        528
      ],
      "typeVersion": 1,
      "id": "d13cdedf-007a-4aa8-a24c-d1e82e9b00d9",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "ACTION NEEDED BRANCH\n- LOAD LATEST WRITING PREFS \n- DRAFT REPLY EMAIL \n- CREATE GMAIL DRAFT \n- SEND TELEGRAM MESSAGE WITH:\n  CATEGORY + FROM + SUBJECT + SUMMARY + MESSAGE + DRAFT\n",
        "height": 512,
        "width": 1648,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        944
      ],
      "typeVersion": 1,
      "id": "67b6066a-a7b1-4c41-b18c-72ee1a0057f6",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "LOG + CLEANUP\n- MARK EMAIL AS READ\n- WAIT 1s (THROTTLE)\n- LOOP BACK TO NEXT EMAIL IN BATCH\n",
        "height": 288,
        "width": 560,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        448
      ],
      "typeVersion": 1,
      "id": "88346d26-e35c-4547-a349-887922a0b11e",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## ERROR HANDLER\n- TRIGGER ON WORKFLOW ERROR\n- SEND ALERT TO TELEGRAM (FAILED TOPIC)\n",
        "height": 272,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4944,
        1328
      ],
      "typeVersion": 1,
      "id": "b331b9be-766b-4a48-a311-4ff0f1ea3453",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Fetch History Button\n- SEND \"FETCH HISTORY\" BUTTON TO TELEGRAM\n- USE THIS AFTER DEPLOY\n",
        "height": 320,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4960,
        1744
      ],
      "typeVersion": 1,
      "id": "752442bb-6f34-4656-bc60-24e940eba56d",
      "name": "Sticky Note13"
    }
  ],
  "pinData": {},
  "connections": {
    "Send a text message": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Agent": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drafting Email Agent": {
      "main": [
        [
          {
            "node": "Create Gmail Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Gmail Draft": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments": {
      "main": [
        [
          {
            "node": "Build OpenAI Attachment Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build OpenAI Attachment Request": {
      "main": [
        [
          {
            "node": "OpenAI - Summarize Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Attachment Summary": {
      "main": [
        [
          {
            "node": "Email Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Attachments": {
      "main": [
        [
          {
            "node": "Email Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Summarize Attachments": {
      "main": [
        [
          {
            "node": "Extract Attachment Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Has Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Context": {
      "main": [
        [
          {
            "node": "Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row1": {
      "main": [
        [
          {
            "node": "Mark as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Unread (batch)": {
      "main": [
        [
          {
            "node": "Split in Batches (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches (1)": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as read": {
      "main": [
        [
          {
            "node": "Wait (1s throttle)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait (1s throttle)": {
      "main": [
        [
          {
            "node": "Split in Batches (1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Summarization Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Menu)": {
      "main": [
        [
          {
            "node": "Sending Button to Fetch History Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger (Menu Button)": {
      "main": [
        [
          {
            "node": "IF Fetch Unread Button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Fetch Unread Button": {
      "main": [
        [
          {
            "node": "Answer Callback Query (Fetch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback Query (Fetch)": {
      "main": [
        [
          {
            "node": "List Unread (batch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Failed Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Ignore Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FYI Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Writing Prefs (chat)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Fetch Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Drafting Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Writing Prefs (chat)": {
      "main": [
        [
          {
            "node": "Get Writing Prefs (chat) - Pick Latest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignore Telegram": {
      "main": [
        [
          {
            "node": "Mark as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FYI Telegram": {
      "main": [
        [
          {
            "node": "Mark as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Writing Prefs (chat) - Pick Latest": {
      "main": [
        [
          {
            "node": "Drafting Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7188fc0-bc0e-49ae-bb20-488c880410d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c2319bcf64035e12fa4b23aa88003edd572c9ac2ee40ffdd07560e871f1375d3"
  },
  "id": "Ab9P19Mg6h3n2xhJ",
  "tags": []
}